
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
JetIM/build
/captures
.externalNativeBuild
.cxx
local.properties
XMPlugin/sdk/build/.transforms/513cf2db1a9e4333fa00e7710298c2ba/results.bin
XMPlugin/sdk/build/.transforms/b308376e1672ffcc1c20db1d78024b05/results.bin
XMPlugin/sdk/build/.transforms/b308376e1672ffcc1c20db1d78024b05/transformed/MiPush_SDK_Client_6_0_1-C_3rd-api.jar
